[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow = "*"
jupyter = "*"
jupyterlab = "*"
pandas = "*"
sklearn = "*"
pydot = "*"
pydotplus = "*"
graphviz = "*"
pillow = "*"
matplotlib = "*"
opencv-python = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.9"
